.signin{
    padding-left: 2px;
    margin-left: 10px;
    cursor: pointer;
    
}
.signin:hover{
    background-color: rgb(67, 155, 238);
    color: white;
}


.already{
    margin-top: 5px;
    padding-top: 5px;
}

.joinnow_button{
    margin-bottom: 10px;
    color: white;
    background-color: rgb(0, 183, 255);
}

.text{
    font-size: smaller
}

.logo_image{
    height: 150px;
    cursor: pointer;
    padding-left: 100px;
    padding: 12px 0 16px;
    margin-left: 47%;
    position: relative;
    align-items: center;
    text-align: center;
}

.life{
    text-align: center;
}