/* .base_page{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 100vh
}

.base_page_header{
    background: #fff;
    margin-bottom: 1px;
    padding: 0 16px;
}

.nav{
    padding: 12px 0 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    flex-wrap: nowrap;
}

.alink{
    z-index: 100;
    margin-right: auto;
}
.logo_images{
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

.searchbar{
    position: relative;
    min-width: 0;
    background-color: rgba(199,209,216,0.35);
}

.search_bar_placeholder{
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 60%);
    border-radius: 4px;
    color: rgba(0,0,0,0.9);
    border: none;
    width: 100%;
    margin-top: 12px;
    padding-right: 8px;
    height: 40px;
    max-height: 40px;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    transition: border-color 0.4s, max-height 0.4s ease-in-out;
    cursor: text;
}

.search_bar_full_placeholder{
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    max-width: calc(100% - 40px);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.expand{
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

.search_button{
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 600;
    cursor: pointer;
}

.search_text{
    margin: auto;
}

.searchbar_icon{
    min-height: 24px;
    min-width: 24px;
    height: 24px;
}

.switch_tabs{
    z-index: 1;
    width: 100vw;
    height: 48px;
}

.searchbar_list{
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-align: stretch;
    align-items: stretch;
}
.searchbar_tabs_tab{
    text-align: center;
} */

.header_base{display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 100vh;
}

.headerline{
    background: #fff;
    margin-bottom: 1px;
    padding: 0 16px;
}

.nav{
    padding: 12px 0 16px;
    display: flex;
    -webkit-box-align: center;
     align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    flex-wrap: nowrap;
}

.logo_image{
    border: 0 !important;
    height: 1px !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
    width: 84px;
    height: 21px;
    display: block;
}

.search_bar{
    background-color: rgba(199,209,216,0.35);
    position: relative;
    margin-bottom: 8px;
    min-width: 0;
}

.search_bar_placeholder{
    width: 100%;
    margin-top: 12px;
    padding-right: 8px;
    /* border: 1px solid rgba(0,0,0,0.15);
    border-radius: 2px; */
    height: 40px;
    max-height: 40px;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex; */
    -webkit-box-align: center;
    /* -ms-flex-align: center; */
    align-items: center;
    overflow: hidden;
    /* -webkit-transition: border-color 0.4s, max-height 0.4s ease-in-out; */
    transition: border-color 0.4s, max-height 0.4s ease-in-out;
    cursor: text;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 60%);
    border-radius: 4px;
    color: rgba(0,0,0,0.9);
    border: none;
}

.search_bar_full_placeholder{
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    max-width: calc(100% - 40px);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search_only{
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
    margin: -1px;
    overflow: hidden;
}

.switcher_tabs_triggers{
    color: black;
}

.switcher_tabs__placeholder {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
}

.switcher_tabs__placeholder_text {
    margin: auto;
}
.iconarrow{
    transition: opacity 0.3s;
}

.switcher_tab{
    z-index: 1;
    width: 100vw;
    height: 48px;
}

.switcher_tab_list{
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex; */
    -webkit-box-flex: 1;
    /* -ms-flex: 1; */
    flex: 1;
    -webkit-box-align: stretch;
    /* -ms-flex-align: stretch; */
    align-items: stretch;

}

.switcher_tab_list_active{
    text-align: center;
}

.switcher_tab_button{
    color: #057642;
    -webkit-box-align: center;
    /* -ms-flex-align: center; */
    align-items: center;
    height: inherit;
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
}